workflows/34boRCMoIPKOfbpV.json
{
  "createdAt": "2025-01-19T13:08:27.202Z",
  "updatedAt": "2025-01-20T20:21:23.000Z",
  "id": "34boRCMoIPKOfbpV",
  "name": "💡—Prevent Simultaneous Executions with Redis",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "workflowId": "4cnnwIeC9Sr5ngGZ",
        "options": {}
      },
      "id": "3035a456-e783-4ac3-a6b7-1925a81672c1",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1560,
        360
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "id": "c2d4d0f3-5f84-41de-9a06-4cd5a19e3337",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        420,
        360
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "=workflowStatus",
        "key": "=workflowStatus_{{ $workflow.id }}",
        "options": {}
      },
      "id": "deb51138-4f68-4e8e-8118-d29bd4b79cd6",
      "name": "Get Status",
      "type": "n8n-nodes-base.redis",
      "position": [
        660,
        360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=workflowStatus_{{ $workflow.id }}",
        "value": "running"
      },
      "id": "73d4e23e-7860-4ac1-8f90-781817e2c98b",
      "name": "Set Running",
      "type": "n8n-nodes-base.redis",
      "position": [
        1340,
        360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=workflowStatus_{{ $workflow.id }}",
        "value": "idle"
      },
      "id": "c7bc785f-dbb0-48be-98ef-d0f940be7749",
      "name": "Set Idle",
      "type": "n8n-nodes-base.redis",
      "position": [
        1780,
        360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "0c6308f0-1c96-41a9-b821-97031454d555",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.workflowStatus }}",
              "rightValue": "idle"
            }
          ]
        },
        "options": {}
      },
      "id": "f65c374e-f189-4d43-9b45-53776a74cbf2",
      "name": "Continue if Idle",
      "type": "n8n-nodes-base.filter",
      "position": [
        1120,
        280
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a844597a-21f9-4869-9abb-4e4b1530931a",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.workflowStatus }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "45956f6b-52bf-48d2-8c68-0aa1fa338f8f",
      "name": "Redis Key exists",
      "type": "n8n-nodes-base.if",
      "position": [
        880,
        360
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "29896363-cb31-4940-9cef-a993b931484d",
      "name": "No Operation",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1120,
        440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "7a8b0ceb-0c9c-4aa5-9cbb-68a7aee3641f",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        440,
        660
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=workflowStatus_{{ $workflow.id }}",
        "value": "idle"
      },
      "id": "d9ab7f18-fe96-4514-a576-49e50575185f",
      "name": "Reset to Idle",
      "type": "n8n-nodes-base.redis",
      "position": [
        660,
        660
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Troubleshooting\nUnplanned server outage? Need to reset the flag? Disable the schedule trigger, activate these nodes and run the **Reset to Idle** node manually.",
        "height": 300,
        "width": 433,
        "color": 5
      },
      "id": "043e00ca-d191-4b54-b0ec-c14e87a5facb",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        540
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "This updates the flag, indicating, that the workflow is currently running",
        "height": 281,
        "width": 222,
        "color": 7
      },
      "id": "dc045338-4e41-41f3-b197-704e7560c54a",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Set Interval\nDefine how frequently the main workflow should run.",
        "height": 280,
        "width": 365
      },
      "id": "5b8dae2f-c2cf-4e16-b4a2-bc97bb64b9e0",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        220,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "If the flag stored in Redis already exists and indicates, that the worklow is still running, another execution will be prevented. In that case this workflow ends here.",
        "height": 382,
        "width": 445,
        "color": 7
      },
      "id": "d55419d3-84e4-4b73-ae4c-a719d94f9bae",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        820,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Set Workflow ID\nSet the ID of the main workflow which should be executed\n",
        "height": 281,
        "width": 218
      },
      "id": "55ab702d-0feb-4d13-a42c-f9aed6d4389d",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1500,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "This checks for a dynamic flag (containing the workflow ID) which represents if the workflow is currently running.",
        "height": 301,
        "width": 222,
        "color": 7
      },
      "id": "7d469990-d3d7-41a1-9a59-7fcf76472342",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        600,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "This updates the flag, indicating, that the workflow is currently idle",
        "height": 281,
        "width": 222,
        "color": 7
      },
      "id": "0d96a5e4-40a2-4abf-96be-7e17c187bc3d",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1720,
        240
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Get Status": {
      "main": [
        [
          {
            "node": "Redis Key exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Running": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation": {
      "main": [
        [
          {
            "node": "Set Running",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue if Idle": {
      "main": [
        [
          {
            "node": "Set Running",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Set Idle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Key exists": {
      "main": [
        [
          {
            "node": "Continue if Idle",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Reset to Idle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "2270"
  },
  "pinData": {},
  "versionId": "960bda95-38c2-4485-af16-b723d32360ba",
  "triggerCount": 0,
  "tags": []
}