workflows/3ht6A03c9Z5VMhm4.json
{
  "createdAt": "2025-01-20T23:18:47.251Z",
  "updatedAt": "2025-01-20T23:26:37.000Z",
  "id": "3ht6A03c9Z5VMhm4",
  "name": "😀—JSON Formatter Endpoint",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "path": "6f7b288e-1efe-4504-a6fd-660931327269",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f80aceed-b676-42aa-bf25-f7a44408b1bc",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        400,
        380
      ],
      "webhookId": "6f7b288e-1efe-4504-a6fd-660931327269",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Create a simple API endpoint\n\nIn this workflow we show how to create a simple API endpoint with `Webhook` and `Respond to Webhook` nodes\n\n",
        "height": 280,
        "width": 600
      },
      "id": "3b9ec913-0bbe-4906-bf8e-da352b556655",
      "name": "Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.formattedBody }}",
        "options": {}
      },
      "id": "9c36dae5-0700-450c-9739-e9f3eff31bfe",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        840,
        380
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### How to use it\n1. Execute the workflow so that the webhook starts listening\n2. Make a test request by pasting, **in a new browser tab**, the test URL from the `Webhook` node and appending the following test at the end `?first_name=bob&last_name=dylan`\n\nYou will receive the following output in the new tab `The URL of the Google search query for the term \"bob dylan\" is: https://www.google.com/search?q=bob+dylan`\n\n",
        "height": 220,
        "width": 600
      },
      "id": "e7971820-45a8-4dc8-ba4c-b3220d65307a",
      "name": "Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        540
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Extract the 'body' from the incoming webhook data\nconst body = $json.body;\n\n// Beautify the body JSON using JSON.stringify with 2 spaces indentation\nconst formattedBody = JSON.stringify(body, null, 2);\n\n// Return the beautified body\nreturn [\n  {\n    json: {\n      formattedBody: formattedBody\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        380
      ],
      "id": "8049df5e-1099-4bb6-839f-e5c4977032e6",
      "name": "Code"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "1750"
  },
  "pinData": {},
  "versionId": "8a912b55-e056-41d5-82ae-d538447e965c",
  "triggerCount": 0,
  "tags": []
}