workflows/bCzEHS0le8wwzabX.json
{
  "createdAt": "2025-01-26T13:59:44.132Z",
  "updatedAt": "2025-01-28T13:45:15.000Z",
  "id": "bCzEHS0le8wwzabX",
  "name": "📆—Discovery Call Booking",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "events": [
          "BOOKING_CREATED"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.calTrigger",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "490313ed-f197-49aa-9c3e-1815f946fa8d",
      "name": "Cal.com Trigger",
      "webhookId": "598eb382-1948-48ea-9986-1c78dcad07a1",
      "credentials": {
        "calApi": {
          "id": "YJNwfsmIlrQyRJsA",
          "name": "Cal account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "messages": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        880,
        0
      ],
      "id": "d5351b4d-1ad7-4de0-8db2-0e10788c81d6",
      "name": "OpenAI",
      "disabled": true
    },
    {
      "parameters": {
        "amount": 14,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        660,
        0
      ],
      "id": "d1203292-bca9-49ef-be47-f500285a1ce2",
      "name": "Wait",
      "webhookId": "f07befb3-9ed8-4f7c-89dd-445d828961ab"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1240,
        0
      ],
      "id": "25fe2945-85fb-4ffc-a29f-72078b6e5375",
      "name": "Gmail",
      "webhookId": "b5c9850f-9af7-4453-be25-513d81523748",
      "credentials": {
        "gmailOAuth2": {
          "id": "tbU8KvIKXWPpEH4u",
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C079LH1T231",
          "mode": "list",
          "cachedResultName": "meetings"
        },
        "text": "=🎉 New Discovery Call Booked: _{{ $json.vasd }}_ (<|>)",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        440,
        0
      ],
      "id": "e54f0a03-7089-4901-9d1b-f7e7b49ce0ec",
      "name": "Slack",
      "webhookId": "a1688a09-cfe5-47fa-95a7-f6354551c3a2",
      "credentials": {
        "slackApi": {
          "id": "VF1RKmzNpL69birS",
          "name": "Zynera's Slack account"
        }
      }
    }
  ],
  "connections": {
    "Cal.com Trigger": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        []
      ]
    },
    "OpenAI": {
      "main": [
        []
      ]
    },
    "Slack": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Cal.com Trigger": [
      {
        "json": {
          "triggerEvent": "BOOKING_CREATED",
          "createdAt": "2025-01-28T13:43:43.062Z",
          "bookerUrl": "https://cal.com",
          "type": "discovery",
          "title": "Karim El Kassas <> Zynera - Discovery Call",
          "description": "Short coffee chat on Google Meet to get to know each other, learn more about the project, & discuss some potential solutions.",
          "additionalNotes": "",
          "customInputs": {},
          "startTime": "2025-01-29T16:00:00Z",
          "endTime": "2025-01-29T16:25:00Z",
          "organizer": {
            "id": 892006,
            "name": "Karim El Kassas",
            "email": "karim@zynera.ai",
            "username": "zynera",
            "timeZone": "Europe/Berlin",
            "language": {
              "locale": "en"
            },
            "timeFormat": "HH:mm",
            "utcOffset": 60
          },
          "responses": {
            "name": {
              "label": "your_name",
              "value": {
                "firstName": "Karim",
                "lastName": "El Kassas"
              },
              "isHidden": false
            },
            "email": {
              "label": "email_address",
              "value": "karim@zynera.ai",
              "isHidden": false
            },
            "location": {
              "label": "location",
              "value": {
                "value": "integrations:google:meet",
                "optionValue": ""
              },
              "isHidden": false
            },
            "title": {
              "label": "what_is_this_meeting_about",
              "isHidden": true
            },
            "guests": {
              "label": "additional_guests",
              "value": [],
              "isHidden": false
            },
            "rescheduleReason": {
              "label": "reason_for_reschedule",
              "isHidden": true
            },
            "companyName": {
              "label": "Company Name",
              "value": "Zynera",
              "isHidden": false
            },
            "companySize": {
              "label": "Company Size",
              "value": "1 - 10",
              "isHidden": false
            },
            "companyWebsite": {
              "label": "Company Website",
              "value": "zynera.ai",
              "isHidden": false
            },
            "companyRole": {
              "label": "Your Role",
              "value": "CEO",
              "isHidden": false
            },
            "companyIndustry": {
              "label": "Industry",
              "value": "B2B SaaS",
              "isHidden": false
            },
            "projectRequirements": {
              "label": "Project Requirements",
              "value": "Improve Operations",
              "isHidden": false
            },
            "projectBudget": {
              "label": "Budget",
              "value": "$2.501 - $6.000",
              "isHidden": false
            },
            "source": {
              "label": "How Did You Hear About Us",
              "value": "Linkedin",
              "isHidden": false
            },
            "notes": {
              "label": "additional_notes",
              "isHidden": false
            }
          },
          "userFieldsResponses": {
            "companyName": {
              "label": "Company Name",
              "value": "Zynera",
              "isHidden": false
            },
            "companySize": {
              "label": "Company Size",
              "value": "1 - 10",
              "isHidden": false
            },
            "companyWebsite": {
              "label": "Company Website",
              "value": "zynera.ai",
              "isHidden": false
            },
            "companyRole": {
              "label": "Your Role",
              "value": "CEO",
              "isHidden": false
            },
            "companyIndustry": {
              "label": "Industry",
              "value": "B2B SaaS",
              "isHidden": false
            },
            "projectRequirements": {
              "label": "Project Requirements",
              "value": "Improve Operations",
              "isHidden": false
            },
            "projectBudget": {
              "label": "Budget",
              "value": "$2.501 - $6.000",
              "isHidden": false
            },
            "source": {
              "label": "How Did You Hear About Us",
              "value": "Linkedin",
              "isHidden": false
            }
          },
          "attendees": [
            {
              "email": "karim@zynera.ai",
              "name": "Karim El Kassas",
              "firstName": "Karim",
              "lastName": "El Kassas",
              "timeZone": "Europe/Berlin",
              "language": {
                "locale": "en"
              },
              "utcOffset": 60
            }
          ],
          "location": "integrations:google:meet",
          "conferenceCredentialId": 595795,
          "destinationCalendar": [
            {
              "id": 299876,
              "integration": "google_calendar",
              "externalId": "karim@zynera.ai",
              "primaryEmail": "karim@zynera.ai",
              "userId": 892006,
              "eventTypeId": null,
              "credentialId": 595774,
              "domainWideDelegationCredentialId": null
            }
          ],
          "hideCalendarNotes": false,
          "hideCalendarEventDetails": false,
          "requiresConfirmation": false,
          "eventTypeId": 831562,
          "seatsShowAttendees": true,
          "seatsPerTimeSlot": null,
          "seatsShowAvailabilityCount": true,
          "schedulingType": null,
          "iCalUID": "g5S8AStm1cQRwbvRg5QTfG@Cal.com",
          "iCalSequence": 0,
          "oneTimePassword": null,
          "uid": "g5S8AStm1cQRwbvRg5QTfG",
          "conferenceData": {
            "createRequest": {
              "requestId": "8a0ce172-f69a-51b5-8481-93feb73d58e2"
            }
          },
          "appsStatus": [
            {
              "appName": "google-calendar",
              "type": "google_calendar",
              "success": 1,
              "failures": 0,
              "errors": [],
              "warnings": []
            },
            {
              "appName": "Google Meet",
              "type": "conferencing",
              "success": 1,
              "failures": 0,
              "errors": []
            }
          ],
          "eventTitle": "Discovery Call",
          "eventDescription": "Short coffee chat on Google Meet to get to know each other, learn more about the project, & discuss some potential solutions.",
          "price": 0,
          "currency": "usd",
          "length": 25,
          "bookingId": 5545854,
          "metadata": {
            "videoCallUrl": "https://meet.google.com/scc-exjx-zrn"
          },
          "status": "ACCEPTED"
        }
      }
    ]
  },
  "versionId": "202bb1ce-d9c2-415e-a0cf-f2ce45abfc24",
  "triggerCount": 0,
  "tags": []
}