workflows/bCzEHS0le8wwzabX.json
{
  "createdAt": "2025-01-26T13:59:44.132Z",
  "updatedAt": "2025-01-28T14:40:31.000Z",
  "id": "bCzEHS0le8wwzabX",
  "name": "📆—Discovery Call Booking",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "events": [
          "BOOKING_CREATED"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.calTrigger",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "490313ed-f197-49aa-9c3e-1815f946fa8d",
      "name": "Cal.com Trigger",
      "webhookId": "598eb382-1948-48ea-9986-1c78dcad07a1",
      "credentials": {
        "calApi": {
          "id": "YJNwfsmIlrQyRJsA",
          "name": "Cal account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "messages": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        880,
        0
      ],
      "id": "d5351b4d-1ad7-4de0-8db2-0e10788c81d6",
      "name": "OpenAI",
      "disabled": true
    },
    {
      "parameters": {
        "amount": 14,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        660,
        0
      ],
      "id": "d1203292-bca9-49ef-be47-f500285a1ce2",
      "name": "Wait",
      "webhookId": "f07befb3-9ed8-4f7c-89dd-445d828961ab"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1240,
        0
      ],
      "id": "25fe2945-85fb-4ffc-a29f-72078b6e5375",
      "name": "Gmail",
      "webhookId": "b5c9850f-9af7-4453-be25-513d81523748",
      "credentials": {
        "gmailOAuth2": {
          "id": "tbU8KvIKXWPpEH4u",
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C079LH1T231",
          "mode": "list",
          "cachedResultName": "meetings"
        },
        "text": "=:tada: *_New Discovery Call Booked!_*\n\n>*Meeting Details*\n• *Date & Time:* <!date^{{new Date($json.startTime).getTime() / 1000}}^{date_long} at {time}|{{$json.startTime}}> (_Your Local Time_)\n• *Duration:* {{$json.length}} minutes\n• *Location:* {{$json.attendees.first().timeZone}} \n\n>*Customer Information*\n• *Name:* {{$json.responses.name.value.firstName}} {{$json.responses.name.value.lastName}}\n• *Email:* {{$json.responses.email.value}}\n• *Role:* {{$json.responses.companyRole.value}}\n\n>*Company Details*\n• *Company:* {{$json.responses.companyName.value}}\n• *Website:* {{$json.responses.companyWebsite.value}}\n• *Industry:* {{$json.responses.companyIndustry.value}}\n• *Size:* {{$json.responses.companySize.value}} employees\n\n>*Project Information*\n• *Budget:* {{$json.responses.projectBudget.value}}\n• *Requirements:* {{$json.responses.projectRequirements.value}}\n• *Source:* {{$json.responses.source.value}}\n• *Notes:* {{$ifEmpty($json.responses.notes.value,\"-\")}}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        440,
        0
      ],
      "id": "e54f0a03-7089-4901-9d1b-f7e7b49ce0ec",
      "name": "Slack",
      "webhookId": "a1688a09-cfe5-47fa-95a7-f6354551c3a2",
      "credentials": {
        "slackApi": {
          "id": "VF1RKmzNpL69birS",
          "name": "Zynera's Slack account"
        }
      }
    }
  ],
  "connections": {
    "Cal.com Trigger": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "511a16ad-bdf3-4763-9d0e-32098d597f0b",
  "triggerCount": 0,
  "tags": []
}