workflows/Mf9Qrffy6RdU6xQ8.json
{
  "createdAt": "2025-02-03T08:22:15.893Z",
  "updatedAt": "2025-02-16T19:53:34.000Z",
  "id": "Mf9Qrffy6RdU6xQ8",
  "name": "🌬️—Airtable Community Post",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "feedUrl": "https://community.airtable.com/idgpi83864/rss/board?board.id=jobs"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        240,
        -200
      ],
      "id": "f525ede7-675a-4613-82c1-6b56aefa7931",
      "name": "RSS Feed Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "customAuth",
        "endpoint": "https://valued-de.myshopify.com/admin/api/2024-10/graphql.json",
        "query": "=query {\n  cashTrackingSessions(first: 5, after: {{ $if($json.endCursor, `\"${$json.endCursor}\"`, \"null\") }}\n) {\n    edges {\n      node {\n        id\n        location { id name }\n        closingBalance { amount }\n        closingNote\n        closingTime\n        openingBalance { amount }\n        openingNote\n        openingTime\n\n        totalCashSales { amount }\n        totalCashRefunds { amount }\n        totalDiscrepancy { amount }\n        totalAdjustments { amount }\n        expectedOpeningBalance { amount }\n        expectedClosingBalance { amount }\n        expectedBalance { amount }\n        netCashSales { amount }\n        cashTransactions (first: 100) { edges { node { order { name } } } }\n        cashTrackingEnabled\n        registerName\n\n        adjustments(first: 100, after: null) {\n          edges {\n            node {\n              cash {\n                amount\n              }\n              note\n              time\n            }\n          }\n          pageInfo {\n            hasNextPage\n            endCursor\n          }\n        }\n      }\n    }\n    pageInfo {\n      hasNextPage\n      endCursor\n    }\n  }\n}"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        420,
        40
      ],
      "id": "6b8bae05-81aa-4f7c-890c-6ef7308181d6",
      "name": "GraphQL",
      "credentials": {
        "httpCustomAuth": {
          "id": "4KGNQAAXJz6l8xcO",
          "name": "Valued's Shopify account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C07VAUAGKUG",
          "mode": "list",
          "cachedResultName": "alerts"
        },
        "text": "💰 New Job LIsting in the Aitrable Forum",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        420,
        -200
      ],
      "id": "39aaa52f-75e7-4321-8ea0-cf04b315ba67",
      "name": "Slack",
      "webhookId": "7572c0fa-aa07-42fa-ae9d-6fbaceeb3ad4",
      "credentials": {
        "slackApi": {
          "id": "VF1RKmzNpL69birS",
          "name": "Zynera's Slack account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "99018398-d2a6-4eb2-855b-7bd074538ca3",
              "leftValue": "={{ $json.data.cashTrackingSessions.pageInfo.hasNextPage }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        620,
        40
      ],
      "id": "fab012ba-b056-44a4-bdec-5965345f6564",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4bed2b01-ae71-4e4b-94eb-72fda9dd80eb",
              "name": "endCursor",
              "value": "={{  $json.data.cashTrackingSessions.pageInfo.endCursor  }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        120
      ],
      "id": "93e964aa-f4cf-428c-bbdf-265b9be2a13e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.cashTrackingSessions.edges",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1080,
        -40
      ],
      "id": "84b566e7-7fed-4eba-80ea-e50dc14e5bcf",
      "name": "Split Out"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appKb1jLst80REX4f",
          "mode": "list",
          "cachedResultName": "Finance OS",
          "cachedResultUrl": "https://airtable.com/appKb1jLst80REX4f"
        },
        "table": {
          "__rl": true,
          "value": "tblY8KBWYY3IKThB1",
          "mode": "list",
          "cachedResultName": "t1",
          "cachedResultUrl": "https://airtable.com/appKb1jLst80REX4f/tblY8KBWYY3IKThB1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.node.location.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1260,
        -40
      ],
      "id": "bd747c11-2801-4826-8d4a-c37dfaef4d36",
      "name": "Airtable1",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "kTacYQkCUF40gO0N",
          "name": "Airtable OAuth2 account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        40
      ],
      "id": "8eb80b35-f91f-4241-a2a1-3529be6277ec",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "fieldToSplitOut": "node.adjustments.edges",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1440,
        -40
      ],
      "id": "f7c4f2eb-8de3-453b-aac3-2a143bce2340",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appKb1jLst80REX4f",
          "mode": "list",
          "cachedResultName": "Finance OS",
          "cachedResultUrl": "https://airtable.com/appKb1jLst80REX4f"
        },
        "table": {
          "__rl": true,
          "value": "tblX1KO5QZQZNFbZ3",
          "mode": "list",
          "cachedResultName": "t2",
          "cachedResultUrl": "https://airtable.com/appKb1jLst80REX4f/tblX1KO5QZQZNFbZ3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.note }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1620,
        -40
      ],
      "id": "7bd10af5-86b4-416f-9c06-c031a2baaea5",
      "name": "Airtable2",
      "credentials": {
        "airtableTokenApi": {
          "id": "UguKILSlKqvVPeFY",
          "name": "Valued's Airtable account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let results = [],\n  i = 0;\n\ndo {\n  try {\n    results = results.concat($(\"GraphQL\").all(0, i));\n  } catch (error) {\n    return results;\n  }\n  i++;\n} while (true);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        -40
      ],
      "id": "594a83e4-c43a-4807-aff7-ea2f29cd7811",
      "name": "Code1"
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/todos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "_limit",
              "value": "10"
            },
            {
              "name": " _start",
              "value": "5"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        300
      ],
      "id": "72593804-4411-49a7-83f5-0a7814a74b3b",
      "name": "Tester"
    },
    {
      "parameters": {
        "url": "https://valued-de.myshopify.com/admin/api/2024-10/graphql.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "query {   cashTrackingSessions(first: 5 ) {     edges {       node {         id         location { id name }         closingBalance { amount }         closingNote         closingTime         openingBalance { amount }         openingNote         openingTime          totalCashSales { amount }         totalCashRefunds { amount }         totalDiscrepancy { amount }         totalAdjustments { amount }         expectedOpeningBalance { amount }         expectedClosingBalance { amount }         expectedBalance { amount }         netCashSales { amount }         cashTransactions (first: 100) { edges { node { order { name } } } }         cashTrackingEnabled         registerName          adjustments(first: 100, after: null) {           edges {             node {               cash {                 amount               }               note               time             }           }           pageInfo {             hasNextPage             endCursor           }         }       }     }     pageInfo {       hasNextPage       endCursor     }   } }"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        380,
        300
      ],
      "id": "8d215b76-7162-4501-b206-2a1410eda4ec",
      "name": "Graph!QL",
      "credentials": {
        "httpCustomAuth": {
          "id": "4KGNQAAXJz6l8xcO",
          "name": "Valued's Shopify account"
        }
      }
    }
  ],
  "connections": {
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack": {
      "main": [
        []
      ]
    },
    "GraphQL": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "GraphQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Tester",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Airtable2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable2": {
      "main": [
        []
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tester": {
      "main": [
        [
          {
            "node": "Graph!QL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Airtable1": [
      {
        "json": {
          "id": "rec07531nSB84yBU6",
          "createdTime": "2025-02-13T23:05:47.000Z",
          "fields": {
            "Name": "Store Munich"
          }
        }
      },
      {
        "json": {
          "id": "recvxNNwYjksAqX0x",
          "createdTime": "2025-02-13T23:05:47.000Z",
          "fields": {
            "Name": "Store Munich"
          }
        }
      },
      {
        "json": {
          "id": "recOMZM5FdUksssil",
          "createdTime": "2025-02-13T23:05:48.000Z",
          "fields": {
            "Name": "Store Munich"
          }
        }
      },
      {
        "json": {
          "id": "recaOiui7DzkGDEBC",
          "createdTime": "2025-02-13T23:05:48.000Z",
          "fields": {
            "Name": "Store Munich"
          }
        }
      },
      {
        "json": {
          "id": "recS3Pf1UA9F4lccO",
          "createdTime": "2025-02-13T23:05:49.000Z",
          "fields": {
            "Name": "Store Munich"
          }
        }
      }
    ],
    "Code1": [
      {
        "json": {
          "data": {
            "cashTrackingSessions": {
              "edges": [
                {
                  "node": {
                    "id": "gid://shopify/CashTrackingSession/5537235165",
                    "location": {
                      "name": "Store Munich"
                    },
                    "closingBalance": {
                      "amount": "2380.0"
                    },
                    "closingNote": null,
                    "closingTime": "2022-11-04T19:10:25Z",
                    "openingBalance": {
                      "amount": "70.0"
                    },
                    "openingNote": null,
                    "openingTime": "2022-11-04T11:16:17Z",
                    "adjustments": {
                      "edges": [
                        {
                          "node": {
                            "cash": {
                              "amount": "-190.0"
                            },
                            "note": "Ankauf Rodi Yakoub Sudetenstr. 16 82110 Germering Nike dunk low Kentucky eu39 190€",
                            "time": "2022-11-04T14:53:02Z"
                          }
                        },
                        {
                          "node": {
                            "cash": {
                              "amount": "-70.0"
                            },
                            "note": "Wechselgeld von Nb ",
                            "time": "2022-11-04T18:33:37Z"
                          }
                        }
                      ],
                      "pageInfo": {
                        "hasNextPage": false,
                        "endCursor": "eyJsYXN0X2lkIjo0ODIxMDkwNTI1LCJsYXN0X3ZhbHVlIjoiMjAyMi0xMS0wNCAxODozMzozNy4wMDAwMDAifQ=="
                      }
                    }
                  }
                },
                {
                  "node": {
                    "id": "gid://shopify/CashTrackingSession/5543690461",
                    "location": {
                      "name": "Store Munich"
                    },
                    "closingBalance": {
                      "amount": "5920.0"
                    },
                    "closingNote": null,
                    "closingTime": "2022-11-05T19:00:04Z",
                    "openingBalance": {
                      "amount": "2380.0"
                    },
                    "openingNote": null,
                    "openingTime": "2022-11-05T10:55:45Z",
                    "adjustments": {
                      "edges": [],
                      "pageInfo": {
                        "hasNextPage": false,
                        "endCursor": null
                      }
                    }
                  }
                },
                {
                  "node": {
                    "id": "gid://shopify/CashTrackingSession/5552570589",
                    "location": {
                      "name": "Store Munich"
                    },
                    "closingBalance": {
                      "amount": "4250.0"
                    },
                    "closingNote": null,
                    "closingTime": "2022-11-08T11:01:09Z",
                    "openingBalance": {
                      "amount": "5920.0"
                    },
                    "openingNote": null,
                    "openingTime": "2022-11-07T11:49:27Z",
                    "adjustments": {
                      "edges": [
                        {
                          "node": {
                            "cash": {
                              "amount": "-275.0"
                            },
                            "note": "Air Jordan 4 Midnight Navy /38 EU/ Nqn5hth",
                            "time": "2022-11-07T12:22:08Z"
                          }
                        },
                        {
                          "node": {
                            "cash": {
                              "amount": "-275.0"
                            },
                            "note": "Air Jordan 4 Midnight Navy / 38.5 /DQSUwk",
                            "time": "2022-11-07T12:24:07Z"
                          }
                        },
                        {
                          "node": {
                            "cash": {
                              "amount": "-1150.0"
                            },
                            "note": "Air Jordan 1 Low Travis Scott Reverse Mocha/ 44EU / o32uMFK",
                            "time": "2022-11-07T12:26:02Z"
                          }
                        },
                        {
                          "node": {
                            "cash": {
                              "amount": "-220.0"
                            },
                            "note": "Einkauf Kickz München Stachus Trans Nr 73024",
                            "time": "2022-11-07T18:13:40Z"
                          }
                        },
                        {
                          "node": {
                            "cash": {
                              "amount": "-200.0"
                            },
                            "note": "Einkauf footlocker Trans nr 99538",
                            "time": "2022-11-07T18:16:19Z"
                          }
                        },
                        {
                          "node": {
                            "cash": {
                              "amount": "-200.0"
                            },
                            "note": "Einkauf footlocker Trans nr 99539",
                            "time": "2022-11-07T18:17:23Z"
                          }
                        },
                        {
                          "node": {
                            "cash": {
                              "amount": "-100.0"
                            },
                            "note": "Einkauf footlocker Trans nr 99540",
                            "time": "2022-11-07T18:17:54Z"
                          }
                        }
                      ],
                      "pageInfo": {
                        "hasNextPage": false,
                        "endCursor": "eyJsYXN0X2lkIjo0ODMzMjQ3NDUzLCJsYXN0X3ZhbHVlIjoiMjAyMi0xMS0wNyAxODoxNzo1NC4wMDAwMDAifQ=="
                      }
                    }
                  }
                },
                {
                  "node": {
                    "id": "gid://shopify/CashTrackingSession/5557453021",
                    "location": {
                      "name": "Store Munich"
                    },
                    "closingBalance": {
                      "amount": "3190.0"
                    },
                    "closingNote": null,
                    "closingTime": "2022-11-09T04:07:05Z",
                    "openingBalance": {
                      "amount": "4250.0"
                    },
                    "openingNote": null,
                    "openingTime": "2022-11-08T11:02:39Z",
                    "adjustments": {
                      "edges": [
                        {
                          "node": {
                            "cash": {
                              "amount": "-190.0"
                            },
                            "note": "Einkauf footlocker Trans nr. 99569",
                            "time": "2022-11-09T03:56:16Z"
                          }
                        },
                        {
                          "node": {
                            "cash": {
                              "amount": "-200.0"
                            },
                            "note": "Einkauf footlocker Trans nr 99572",
                            "time": "2022-11-09T03:58:12Z"
                          }
                        },
                        {
                          "node": {
                            "cash": {
                              "amount": "-190.0"
                            },
                            "note": "Einkauf footlocker Trans nr. 99568",
                            "time": "2022-11-09T04:00:04Z"
                          }
                        },
                        {
                          "node": {
                            "cash": {
                              "amount": "-200.0"
                            },
                            "note": "Einkauf footlocker Trans nr 99570",
                            "time": "2022-11-09T04:00:56Z"
                          }
                        },
                        {
                          "node": {
                            "cash": {
                              "amount": "-200.0"
                            },
                            "note": "Einkauf footlocker Trans nr99571",
                            "time": "2022-11-09T04:01:35Z"
                          }
                        },
                        {
                          "node": {
                            "cash": {
                              "amount": "-270.0"
                            },
                            "note": "Ankauf ruVcyPL",
                            "time": "2022-11-09T04:02:41Z"
                          }
                        },
                        {
                          "node": {
                            "cash": {
                              "amount": "-270.0"
                            },
                            "note": "Ankauf vjKUAHo",
                            "time": "2022-11-09T04:03:19Z"
                          }
                        },
                        {
                          "node": {
                            "cash": {
                              "amount": "-280.0"
                            },
                            "note": "Ankauf tJi2E2W",
                            "time": "2022-11-09T04:03:54Z"
                          }
                        },
                        {
                          "node": {
                            "cash": {
                              "amount": "-150.0"
                            },
                            "note": "Ankauf xtYwGgl",
                            "time": "2022-11-09T04:04:30Z"
                          }
                        }
                      ],
                      "pageInfo": {
                        "hasNextPage": false,
                        "endCursor": "eyJsYXN0X2lkIjo0ODM5OTY0ODkzLCJsYXN0X3ZhbHVlIjoiMjAyMi0xMS0wOSAwNDowNDozMC4wMDAwMDAifQ=="
                      }
                    }
                  }
                },
                {
                  "node": {
                    "id": "gid://shopify/CashTrackingSession/5563121885",
                    "location": {
                      "name": "Store Munich"
                    },
                    "closingBalance": {
                      "amount": "3400.0"
                    },
                    "closingNote": null,
                    "closingTime": "2022-11-09T19:33:25Z",
                    "openingBalance": {
                      "amount": "3190.0"
                    },
                    "openingNote": null,
                    "openingTime": "2022-11-09T11:14:07Z",
                    "adjustments": {
                      "edges": [
                        {
                          "node": {
                            "cash": {
                              "amount": "200.0"
                            },
                            "note": "Bestellung #1066",
                            "time": "2022-11-09T19:32:38Z"
                          }
                        }
                      ],
                      "pageInfo": {
                        "hasNextPage": false,
                        "endCursor": "eyJsYXN0X2lkIjo0ODQxMjc1NjEzLCJsYXN0X3ZhbHVlIjoiMjAyMi0xMS0wOSAxOTozMjozOC4wMDAwMDAifQ=="
                      }
                    }
                  }
                }
              ],
              "pageInfo": {
                "hasNextPage": true,
                "endCursor": "eyJsYXN0X2lkIjo1NTYzMTIxODg1LCJsYXN0X3ZhbHVlIjoiNTU2MzEyMTg4NSJ9"
              }
            }
          },
          "extensions": {
            "cost": {
              "requestedQueryCost": 41,
              "actualQueryCost": 20,
              "throttleStatus": {
                "maximumAvailable": 4000,
                "currentlyAvailable": 3980,
                "restoreRate": 200
              }
            }
          }
        }
      }
    ],
    "Split Out": [
      {
        "json": {
          "node": {
            "id": "gid://shopify/CashTrackingSession/5537235165",
            "location": {
              "name": "Store Munich"
            },
            "closingBalance": {
              "amount": "2380.0"
            },
            "closingNote": null,
            "closingTime": "2022-11-04T19:10:25Z",
            "openingBalance": {
              "amount": "70.0"
            },
            "openingNote": null,
            "openingTime": "2022-11-04T11:16:17Z",
            "adjustments": {
              "edges": [
                {
                  "node": {
                    "cash": {
                      "amount": "-190.0"
                    },
                    "note": "Ankauf Rodi Yakoub Sudetenstr. 16 82110 Germering Nike dunk low Kentucky eu39 190€",
                    "time": "2022-11-04T14:53:02Z"
                  }
                },
                {
                  "node": {
                    "cash": {
                      "amount": "-70.0"
                    },
                    "note": "Wechselgeld von Nb ",
                    "time": "2022-11-04T18:33:37Z"
                  }
                }
              ],
              "pageInfo": {
                "hasNextPage": false,
                "endCursor": "eyJsYXN0X2lkIjo0ODIxMDkwNTI1LCJsYXN0X3ZhbHVlIjoiMjAyMi0xMS0wNCAxODozMzozNy4wMDAwMDAifQ=="
              }
            }
          }
        }
      },
      {
        "json": {
          "node": {
            "id": "gid://shopify/CashTrackingSession/5543690461",
            "location": {
              "name": "Store Munich"
            },
            "closingBalance": {
              "amount": "5920.0"
            },
            "closingNote": null,
            "closingTime": "2022-11-05T19:00:04Z",
            "openingBalance": {
              "amount": "2380.0"
            },
            "openingNote": null,
            "openingTime": "2022-11-05T10:55:45Z",
            "adjustments": {
              "edges": [],
              "pageInfo": {
                "hasNextPage": false,
                "endCursor": null
              }
            }
          }
        }
      },
      {
        "json": {
          "node": {
            "id": "gid://shopify/CashTrackingSession/5552570589",
            "location": {
              "name": "Store Munich"
            },
            "closingBalance": {
              "amount": "4250.0"
            },
            "closingNote": null,
            "closingTime": "2022-11-08T11:01:09Z",
            "openingBalance": {
              "amount": "5920.0"
            },
            "openingNote": null,
            "openingTime": "2022-11-07T11:49:27Z",
            "adjustments": {
              "edges": [
                {
                  "node": {
                    "cash": {
                      "amount": "-275.0"
                    },
                    "note": "Air Jordan 4 Midnight Navy /38 EU/ Nqn5hth",
                    "time": "2022-11-07T12:22:08Z"
                  }
                },
                {
                  "node": {
                    "cash": {
                      "amount": "-275.0"
                    },
                    "note": "Air Jordan 4 Midnight Navy / 38.5 /DQSUwk",
                    "time": "2022-11-07T12:24:07Z"
                  }
                },
                {
                  "node": {
                    "cash": {
                      "amount": "-1150.0"
                    },
                    "note": "Air Jordan 1 Low Travis Scott Reverse Mocha/ 44EU / o32uMFK",
                    "time": "2022-11-07T12:26:02Z"
                  }
                },
                {
                  "node": {
                    "cash": {
                      "amount": "-220.0"
                    },
                    "note": "Einkauf Kickz München Stachus Trans Nr 73024",
                    "time": "2022-11-07T18:13:40Z"
                  }
                },
                {
                  "node": {
                    "cash": {
                      "amount": "-200.0"
                    },
                    "note": "Einkauf footlocker Trans nr 99538",
                    "time": "2022-11-07T18:16:19Z"
                  }
                },
                {
                  "node": {
                    "cash": {
                      "amount": "-200.0"
                    },
                    "note": "Einkauf footlocker Trans nr 99539",
                    "time": "2022-11-07T18:17:23Z"
                  }
                },
                {
                  "node": {
                    "cash": {
                      "amount": "-100.0"
                    },
                    "note": "Einkauf footlocker Trans nr 99540",
                    "time": "2022-11-07T18:17:54Z"
                  }
                }
              ],
              "pageInfo": {
                "hasNextPage": false,
                "endCursor": "eyJsYXN0X2lkIjo0ODMzMjQ3NDUzLCJsYXN0X3ZhbHVlIjoiMjAyMi0xMS0wNyAxODoxNzo1NC4wMDAwMDAifQ=="
              }
            }
          }
        }
      },
      {
        "json": {
          "node": {
            "id": "gid://shopify/CashTrackingSession/5557453021",
            "location": {
              "name": "Store Munich"
            },
            "closingBalance": {
              "amount": "3190.0"
            },
            "closingNote": null,
            "closingTime": "2022-11-09T04:07:05Z",
            "openingBalance": {
              "amount": "4250.0"
            },
            "openingNote": null,
            "openingTime": "2022-11-08T11:02:39Z",
            "adjustments": {
              "edges": [
                {
                  "node": {
                    "cash": {
                      "amount": "-190.0"
                    },
                    "note": "Einkauf footlocker Trans nr. 99569",
                    "time": "2022-11-09T03:56:16Z"
                  }
                },
                {
                  "node": {
                    "cash": {
                      "amount": "-200.0"
                    },
                    "note": "Einkauf footlocker Trans nr 99572",
                    "time": "2022-11-09T03:58:12Z"
                  }
                },
                {
                  "node": {
                    "cash": {
                      "amount": "-190.0"
                    },
                    "note": "Einkauf footlocker Trans nr. 99568",
                    "time": "2022-11-09T04:00:04Z"
                  }
                },
                {
                  "node": {
                    "cash": {
                      "amount": "-200.0"
                    },
                    "note": "Einkauf footlocker Trans nr 99570",
                    "time": "2022-11-09T04:00:56Z"
                  }
                },
                {
                  "node": {
                    "cash": {
                      "amount": "-200.0"
                    },
                    "note": "Einkauf footlocker Trans nr99571",
                    "time": "2022-11-09T04:01:35Z"
                  }
                },
                {
                  "node": {
                    "cash": {
                      "amount": "-270.0"
                    },
                    "note": "Ankauf ruVcyPL",
                    "time": "2022-11-09T04:02:41Z"
                  }
                },
                {
                  "node": {
                    "cash": {
                      "amount": "-270.0"
                    },
                    "note": "Ankauf vjKUAHo",
                    "time": "2022-11-09T04:03:19Z"
                  }
                },
                {
                  "node": {
                    "cash": {
                      "amount": "-280.0"
                    },
                    "note": "Ankauf tJi2E2W",
                    "time": "2022-11-09T04:03:54Z"
                  }
                },
                {
                  "node": {
                    "cash": {
                      "amount": "-150.0"
                    },
                    "note": "Ankauf xtYwGgl",
                    "time": "2022-11-09T04:04:30Z"
                  }
                }
              ],
              "pageInfo": {
                "hasNextPage": false,
                "endCursor": "eyJsYXN0X2lkIjo0ODM5OTY0ODkzLCJsYXN0X3ZhbHVlIjoiMjAyMi0xMS0wOSAwNDowNDozMC4wMDAwMDAifQ=="
              }
            }
          }
        }
      },
      {
        "json": {
          "node": {
            "id": "gid://shopify/CashTrackingSession/5563121885",
            "location": {
              "name": "Store Munich"
            },
            "closingBalance": {
              "amount": "3400.0"
            },
            "closingNote": null,
            "closingTime": "2022-11-09T19:33:25Z",
            "openingBalance": {
              "amount": "3190.0"
            },
            "openingNote": null,
            "openingTime": "2022-11-09T11:14:07Z",
            "adjustments": {
              "edges": [
                {
                  "node": {
                    "cash": {
                      "amount": "200.0"
                    },
                    "note": "Bestellung #1066",
                    "time": "2022-11-09T19:32:38Z"
                  }
                }
              ],
              "pageInfo": {
                "hasNextPage": false,
                "endCursor": "eyJsYXN0X2lkIjo0ODQxMjc1NjEzLCJsYXN0X3ZhbHVlIjoiMjAyMi0xMS0wOSAxOTozMjozOC4wMDAwMDAifQ=="
              }
            }
          }
        }
      }
    ],
    "If": [
      {
        "json": {
          "data": {
            "cashTrackingSessions": {
              "edges": [
                {
                  "node": {
                    "id": "gid://shopify/CashTrackingSession/5537235165",
                    "location": {
                      "name": "Store Munich"
                    },
                    "closingBalance": {
                      "amount": "2380.0"
                    },
                    "closingNote": null,
                    "closingTime": "2022-11-04T19:10:25Z",
                    "openingBalance": {
                      "amount": "70.0"
                    },
                    "openingNote": null,
                    "openingTime": "2022-11-04T11:16:17Z",
                    "adjustments": {
                      "edges": [
                        {
                          "node": {
                            "cash": {
                              "amount": "-190.0"
                            },
                            "note": "Ankauf Rodi Yakoub Sudetenstr. 16 82110 Germering Nike dunk low Kentucky eu39 190€",
                            "time": "2022-11-04T14:53:02Z"
                          }
                        },
                        {
                          "node": {
                            "cash": {
                              "amount": "-70.0"
                            },
                            "note": "Wechselgeld von Nb ",
                            "time": "2022-11-04T18:33:37Z"
                          }
                        }
                      ],
                      "pageInfo": {
                        "hasNextPage": false,
                        "endCursor": "eyJsYXN0X2lkIjo0ODIxMDkwNTI1LCJsYXN0X3ZhbHVlIjoiMjAyMi0xMS0wNCAxODozMzozNy4wMDAwMDAifQ=="
                      }
                    }
                  }
                },
                {
                  "node": {
                    "id": "gid://shopify/CashTrackingSession/5543690461",
                    "location": {
                      "name": "Store Munich"
                    },
                    "closingBalance": {
                      "amount": "5920.0"
                    },
                    "closingNote": null,
                    "closingTime": "2022-11-05T19:00:04Z",
                    "openingBalance": {
                      "amount": "2380.0"
                    },
                    "openingNote": null,
                    "openingTime": "2022-11-05T10:55:45Z",
                    "adjustments": {
                      "edges": [],
                      "pageInfo": {
                        "hasNextPage": false,
                        "endCursor": null
                      }
                    }
                  }
                },
                {
                  "node": {
                    "id": "gid://shopify/CashTrackingSession/5552570589",
                    "location": {
                      "name": "Store Munich"
                    },
                    "closingBalance": {
                      "amount": "4250.0"
                    },
                    "closingNote": null,
                    "closingTime": "2022-11-08T11:01:09Z",
                    "openingBalance": {
                      "amount": "5920.0"
                    },
                    "openingNote": null,
                    "openingTime": "2022-11-07T11:49:27Z",
                    "adjustments": {
                      "edges": [
                        {
                          "node": {
                            "cash": {
                              "amount": "-275.0"
                            },
                            "note": "Air Jordan 4 Midnight Navy /38 EU/ Nqn5hth",
                            "time": "2022-11-07T12:22:08Z"
                          }
                        },
                        {
                          "node": {
                            "cash": {
                              "amount": "-275.0"
                            },
                            "note": "Air Jordan 4 Midnight Navy / 38.5 /DQSUwk",
                            "time": "2022-11-07T12:24:07Z"
                          }
                        },
                        {
                          "node": {
                            "cash": {
                              "amount": "-1150.0"
                            },
                            "note": "Air Jordan 1 Low Travis Scott Reverse Mocha/ 44EU / o32uMFK",
                            "time": "2022-11-07T12:26:02Z"
                          }
                        },
                        {
                          "node": {
                            "cash": {
                              "amount": "-220.0"
                            },
                            "note": "Einkauf Kickz München Stachus Trans Nr 73024",
                            "time": "2022-11-07T18:13:40Z"
                          }
                        },
                        {
                          "node": {
                            "cash": {
                              "amount": "-200.0"
                            },
                            "note": "Einkauf footlocker Trans nr 99538",
                            "time": "2022-11-07T18:16:19Z"
                          }
                        },
                        {
                          "node": {
                            "cash": {
                              "amount": "-200.0"
                            },
                            "note": "Einkauf footlocker Trans nr 99539",
                            "time": "2022-11-07T18:17:23Z"
                          }
                        },
                        {
                          "node": {
                            "cash": {
                              "amount": "-100.0"
                            },
                            "note": "Einkauf footlocker Trans nr 99540",
                            "time": "2022-11-07T18:17:54Z"
                          }
                        }
                      ],
                      "pageInfo": {
                        "hasNextPage": false,
                        "endCursor": "eyJsYXN0X2lkIjo0ODMzMjQ3NDUzLCJsYXN0X3ZhbHVlIjoiMjAyMi0xMS0wNyAxODoxNzo1NC4wMDAwMDAifQ=="
                      }
                    }
                  }
                },
                {
                  "node": {
                    "id": "gid://shopify/CashTrackingSession/5557453021",
                    "location": {
                      "name": "Store Munich"
                    },
                    "closingBalance": {
                      "amount": "3190.0"
                    },
                    "closingNote": null,
                    "closingTime": "2022-11-09T04:07:05Z",
                    "openingBalance": {
                      "amount": "4250.0"
                    },
                    "openingNote": null,
                    "openingTime": "2022-11-08T11:02:39Z",
                    "adjustments": {
                      "edges": [
                        {
                          "node": {
                            "cash": {
                              "amount": "-190.0"
                            },
                            "note": "Einkauf footlocker Trans nr. 99569",
                            "time": "2022-11-09T03:56:16Z"
                          }
                        },
                        {
                          "node": {
                            "cash": {
                              "amount": "-200.0"
                            },
                            "note": "Einkauf footlocker Trans nr 99572",
                            "time": "2022-11-09T03:58:12Z"
                          }
                        },
                        {
                          "node": {
                            "cash": {
                              "amount": "-190.0"
                            },
                            "note": "Einkauf footlocker Trans nr. 99568",
                            "time": "2022-11-09T04:00:04Z"
                          }
                        },
                        {
                          "node": {
                            "cash": {
                              "amount": "-200.0"
                            },
                            "note": "Einkauf footlocker Trans nr 99570",
                            "time": "2022-11-09T04:00:56Z"
                          }
                        },
                        {
                          "node": {
                            "cash": {
                              "amount": "-200.0"
                            },
                            "note": "Einkauf footlocker Trans nr99571",
                            "time": "2022-11-09T04:01:35Z"
                          }
                        },
                        {
                          "node": {
                            "cash": {
                              "amount": "-270.0"
                            },
                            "note": "Ankauf ruVcyPL",
                            "time": "2022-11-09T04:02:41Z"
                          }
                        },
                        {
                          "node": {
                            "cash": {
                              "amount": "-270.0"
                            },
                            "note": "Ankauf vjKUAHo",
                            "time": "2022-11-09T04:03:19Z"
                          }
                        },
                        {
                          "node": {
                            "cash": {
                              "amount": "-280.0"
                            },
                            "note": "Ankauf tJi2E2W",
                            "time": "2022-11-09T04:03:54Z"
                          }
                        },
                        {
                          "node": {
                            "cash": {
                              "amount": "-150.0"
                            },
                            "note": "Ankauf xtYwGgl",
                            "time": "2022-11-09T04:04:30Z"
                          }
                        }
                      ],
                      "pageInfo": {
                        "hasNextPage": false,
                        "endCursor": "eyJsYXN0X2lkIjo0ODM5OTY0ODkzLCJsYXN0X3ZhbHVlIjoiMjAyMi0xMS0wOSAwNDowNDozMC4wMDAwMDAifQ=="
                      }
                    }
                  }
                },
                {
                  "node": {
                    "id": "gid://shopify/CashTrackingSession/5563121885",
                    "location": {
                      "name": "Store Munich"
                    },
                    "closingBalance": {
                      "amount": "3400.0"
                    },
                    "closingNote": null,
                    "closingTime": "2022-11-09T19:33:25Z",
                    "openingBalance": {
                      "amount": "3190.0"
                    },
                    "openingNote": null,
                    "openingTime": "2022-11-09T11:14:07Z",
                    "adjustments": {
                      "edges": [
                        {
                          "node": {
                            "cash": {
                              "amount": "200.0"
                            },
                            "note": "Bestellung #1066",
                            "time": "2022-11-09T19:32:38Z"
                          }
                        }
                      ],
                      "pageInfo": {
                        "hasNextPage": false,
                        "endCursor": "eyJsYXN0X2lkIjo0ODQxMjc1NjEzLCJsYXN0X3ZhbHVlIjoiMjAyMi0xMS0wOSAxOTozMjozOC4wMDAwMDAifQ=="
                      }
                    }
                  }
                }
              ],
              "pageInfo": {
                "hasNextPage": true,
                "endCursor": "eyJsYXN0X2lkIjo1NTYzMTIxODg1LCJsYXN0X3ZhbHVlIjoiNTU2MzEyMTg4NSJ9"
              }
            }
          },
          "extensions": {
            "cost": {
              "requestedQueryCost": 41,
              "actualQueryCost": 20,
              "throttleStatus": {
                "maximumAvailable": 4000,
                "currentlyAvailable": 3980,
                "restoreRate": 200
              }
            }
          }
        }
      }
    ],
    "Edit Fields": [
      {
        "json": {
          "endCursor": "eyJsYXN0X2lkIjo1NTYzMTIxODg1LCJsYXN0X3ZhbHVlIjoiNTU2MzEyMTg4NSJ9"
        }
      }
    ]
  },
  "versionId": "932f661c-52c3-45cc-9c50-671c95b382a1",
  "triggerCount": 0,
  "tags": []
}