workflows/ueXo8Gnp8gWoqfFH.json
{
  "createdAt": "2025-01-21T15:38:13.226Z",
  "updatedAt": "2025-01-21T15:45:43.000Z",
  "id": "ueXo8Gnp8gWoqfFH",
  "name": "My workflow",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.content.base64Decode() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        320
      ],
      "id": "cdd0f018-1c83-48ab-815d-97df573979fa",
      "name": "Edit Fields",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "flow",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        440,
        320
      ],
      "id": "0824a9ff-4631-458a-96ce-b42cf32832a1",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1af3fadd-45a1-4bb4-837b-1de0c99d5e6e",
              "leftValue": "={{ $json.module }}",
              "rightValue": "airtable",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        800,
        320
      ],
      "id": "65c1d5c6-d725-43dd-bf44-fdc55508bd92",
      "name": "Filter"
    },
    {
      "parameters": {
        "fieldToSplitOut": "expect",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        980,
        320
      ],
      "id": "c332c2ec-32fb-4a9c-9046-c4840355201d",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "expect.spec",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1160,
        320
      ],
      "id": "14afeb7e-7ad5-4aa5-90e5-ae8b3a975825",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.airtable.com/v0/{{ $('Table and Data').item.json.base_id[0] }}/{{ $('Table and Data').item.json.table }}/{{ $json.id }}/comments",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=This record is used on the following Scenarios\n\nScenario: {{ $('Table and Data').item.json.Scenario[0] }}\n\nBase: {{ $('Table and Data').item.json['base name'][0] }}\n\nAction : {{ $('Table and Data').item.json.action[0] }}\n\nFields In use: {{ $('Table and Data').item.json['field name'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        180
      ],
      "id": "a775af72-2bbe-45b9-81de-7b36ddda1cb0",
      "name": "Create Comment",
      "credentials": {
        "airtableTokenApi": {
          "id": "f15vRM0yMsganWrF",
          "name": "Karim's Airtable account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "={{ $json.user }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.repo }}",
          "mode": "name"
        },
        "filePath": "={{ $json['repo-path'] }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -120,
        320
      ],
      "id": "e393c53b-e4ac-45b1-b85c-299e6f926e9f",
      "name": "List files",
      "credentials": {
        "githubApi": {
          "id": "w9OVe7EajLtOxQ5D",
          "name": "Karim's GitHub account "
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $('Edit Fields1').item.json.user }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Edit Fields1').item.json.repo }}",
          "mode": "name"
        },
        "filePath": "={{ $json.path }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        60,
        320
      ],
      "id": "fd5697cb-3c6f-468a-866e-4e9a7251f5ac",
      "name": "Get scenarios",
      "credentials": {
        "githubApi": {
          "id": "w9OVe7EajLtOxQ5D",
          "name": "Karim's GitHub account "
        }
      }
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "name"
            },
            {
              "aggregation": "concatenate",
              "field": "module"
            },
            {
              "aggregation": "concatenate",
              "field": "mapper_base"
            },
            {
              "aggregation": "concatenate",
              "field": "BASE name"
            },
            {
              "aggregation": "concatenate",
              "field": "['expect.spec'].name"
            },
            {
              "aggregation": "concatenate",
              "field": "expect"
            },
            {
              "aggregation": "concatenate",
              "field": "['expect.spec'].label"
            },
            {
              "aggregation": "concatenate",
              "field": "['expect.spec'].type"
            }
          ]
        },
        "fieldsToSplitBy": "table",
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        1340,
        320
      ],
      "id": "08376d45-f206-43a8-9adc-ba296ffb230c",
      "name": "Concatenate "
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "={{ $json.base_id[0] }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ $json.table }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1740,
        180
      ],
      "id": "6a2d879c-574d-466e-a3a2-3afa823ee465",
      "name": "Get base schema",
      "credentials": {
        "airtableTokenApi": {
          "id": "f15vRM0yMsganWrF",
          "name": "Karim's Airtable account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -480,
        320
      ],
      "id": "cd031844-d5e2-404d-a282-afad7fdbd09f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "## Setup\n\n1. Set up your username, github repo and username\n\n2. on the Github nodes set up your credentials \n\n3. Update the `GET BASE` Schema credentials and airtable credentials\n\n4. Update the credential on the `Create Comment` node to match your setup\n\nRun and test the setup",
        "height": 260,
        "width": 800,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "0ea0ce38-f64f-4fc4-a009-beced0d6d815",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9faa4763-13fc-401b-9739-65c3d06a9801",
              "name": "user",
              "value": "karimzynera",
              "type": "string"
            },
            {
              "id": "17b7b7c2-39dc-4663-86af-e9cdb7109b8d",
              "name": "repo",
              "value": "make-backup",
              "type": "string"
            },
            {
              "id": "38dd7309-9906-4363-b0f8-b697b4b07b71",
              "name": "repo-path",
              "value": "scenarios",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -300,
        320
      ],
      "id": "50b4df01-a06a-45c1-be4d-73d0cdb62f5a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5152ed5-4069-4170-b359-1250d3a58cca",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "0f99c3a9-2183-4750-b54b-4063e79e71ac",
              "name": "module",
              "value": "={{ $json.flow.module }}",
              "type": "string"
            },
            {
              "id": "85055e59-0751-4b55-a6f8-e4ac9391fd12",
              "name": "id",
              "value": "={{ $json.flow.id }}",
              "type": "number"
            },
            {
              "id": "7ca47ec7-3235-4fa3-80c2-8809e057ee95",
              "name": "parameters",
              "value": "={{ $json.flow.parameters }}",
              "type": "object"
            },
            {
              "id": "4bd27268-01dd-4f68-8e80-62a638333aff",
              "name": "mapper_base",
              "value": "={{ $json.flow.mapper.base }}",
              "type": "string"
            },
            {
              "id": "3372f152-7bed-432d-b414-106d48a71c4b",
              "name": "table",
              "value": "={{ $json.flow.mapper.table }}",
              "type": "string"
            },
            {
              "id": "76ee229e-b9d2-4394-845a-591ab3544ff4",
              "name": "record",
              "value": "={{ $json.flow.mapper.record }}",
              "type": "string"
            },
            {
              "id": "3561e26e-5d8b-4e32-b3cb-d98575ffb4a6",
              "name": "BASE name",
              "value": "={{ $json.flow.metadata.restore.expect.base.label }}",
              "type": "string"
            },
            {
              "id": "0a6f787e-5069-480b-ac5e-5a652f7f8be7",
              "name": "parameters",
              "value": "={{ $json.flow.metadata.parameters }}",
              "type": "array"
            },
            {
              "id": "e14e19a4-0cc4-4eaf-93d5-db864093b634",
              "name": "expect",
              "value": "={{ $json.flow.metadata.expect }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        620,
        320
      ],
      "id": "51ec9fc4-e242-4770-93e3-6831c4828a96",
      "name": "Map Out Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a493c444-210d-4343-b5d5-fc7cb7aecdb2",
              "name": "table",
              "value": "={{ $json.table }}",
              "type": "string"
            },
            {
              "id": "f0b6feee-788a-4c5a-b1ec-f1a1869f0d6b",
              "name": "Scenario",
              "value": "={{ $json.concatenated_name.split(\",\" ).unique() }}",
              "type": "array"
            },
            {
              "id": "0d9f7a32-595a-45c6-afbd-51f01d2860a2",
              "name": "action",
              "value": "={{ $json.concatenated_module.split(\",\" ).unique() }}",
              "type": "array"
            },
            {
              "id": "e95a7e1e-f233-4593-a2bf-6385bc760738",
              "name": "base_id",
              "value": "={{ $json.concatenated_mapper_base.split(\",\" ).unique() }}",
              "type": "array"
            },
            {
              "id": "745c0f18-9f01-475f-a14e-bc6b12ee0d38",
              "name": "base name",
              "value": "={{ $json.concatenated_BASE_name .split(\",\" ) .unique() }}",
              "type": "array"
            },
            {
              "id": "a2d36786-7da1-4162-bf0c-1d3e5705175e",
              "name": "field name",
              "value": "={{ $json['concatenated_\\'expect_spec\\'_label'].split(\",\" ) .unique() }}",
              "type": "array"
            },
            {
              "id": "e71eafc9-56b5-4293-b267-1baa5a6af9b5",
              "name": "type",
              "value": "={{ $json['concatenated_\\'expect_spec\\'_type'] .split(\",\" )  }}",
              "type": "array"
            },
            {
              "id": "8350ca5f-5476-4c33-a889-86a7a82b8567",
              "name": "field id",
              "value": "={{ $json['concatenated_\\'expect_spec\\'_name'] .split(\",\" ).unique() }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1560,
        180
      ],
      "id": "005ef485-32e5-41a7-90f3-2d56aa198007",
      "name": "Table and Data"
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Map Out Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Concatenate ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files": {
      "main": [
        [
          {
            "node": "Get scenarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get scenarios": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concatenate ": {
      "main": [
        [
          {
            "node": "Table and Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get base schema": {
      "main": [
        [
          {
            "node": "Create Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "List files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Out Fields": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Table and Data": {
      "main": [
        [
          {
            "node": "Get base schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c1680eb7-a1b5-46fb-904a-1b56b6398566",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-01-21T15:37:29.012Z",
      "updatedAt": "2025-01-21T15:37:29.012Z",
      "id": "NXbhUU6d2f5ViDC2",
      "name": "Client"
    }
  ]
}